* {
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dddddd;
  height: 500px;
  width: 500px;
}

img {
  /* prevent dragging of ghost image */
  pointer-events: none;
  /* prevent highlighting of images */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
  width: inherit;
  height: inherit;
}

.board-square {
  float: left;
  height: 62.5px;
  width: 62.5px;
}

.light {
  background-image: url('../assets/boardSquares/squareBrownLight_svg.svg');
}

.dark {
  background-image: url('../assets/boardSquares/squareBrownDark_svg.svg');
}

.available-move {
  background: rgb(139, 236, 42);
  background: radial-gradient(
    circle,
    rgba(139, 236, 42, 1) 0%,
    rgba(92, 156, 29, 1) 83%
  );
}

.aggressive-move {
  background: rgb(209, 16, 9);
  background: radial-gradient(
    circle,
    rgba(209, 16, 9, 1) 0%,
    rgba(149, 12, 7, 1) 83%
  );
}

.none {
  display: none;
}

.piece {
  display: inline;
}
